<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
        }

        .verificationBox {
            background-color: gainsboro;
            border-radius: 18px;
            padding: 8px;
            border: 1px solid blue;
            max-width: 100px;
            width: 90px;
            margin-left: 25px;
            font-size: 21px;
            letter-spacing: 5px;
        }
    </style>
</head>
<body>
    <p>Kedves {LastName}!</p>
    <p>
        A fiók jelszavának alaphelyzetbe állításához add meg az alábbi hatjegyű kódot: <br />
        <div class="verificationBox">{VerificationCode}</div>
    </p>
</body>
</html>